<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>裁判问题检索系统</title>
    <meta name="keywords" content="裁判问题检索系统">
    <meta name="description" content="裁判问题检索系统">
    <link rel="shortcut icon" href="/image/fushitong.png" type="image/x-icon">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">
    <link href="/css/common.css" rel="stylesheet">
</head>
<body>
    <div class="wrapper wrapper-content animated fadeInRight" style="min-height: 94%;">
        <div class="row">
            <div class="col-sm-8">
                  <div class="search-form">
                      <div class="input-group">
                          <input type="text" placeholder="请输入罪名" name="q" class="form-control search-input input-lg">
                          <div class="input-group-btn">
                              <button class="btn btn-lg btn-primary" onclick="changeUrl()"> 搜索 </button>
                          </div>
                      </div>
                  </div>
                <small class="search-total">搜索条件：&nbsp;&nbsp;<span class="text-navy search-con">  </span>&nbsp;&nbsp;的结果约&nbsp;&nbsp;<span class="text-navy total"> </span>&nbsp;&nbsp; 条</small>
                
                <div class="ibox float-e-margins" style="display:none">
                    <div class="ibox-content" style="border:0;">
                        <div id="cause-list">
                          <div class='search-result' v-for="item in items">
                            <h3><a href="/content/detail?doc_id={{item.docId}}&doc_type=%E5%88%91%E4%BA%8B" target='_self'>{{item.title}}</a>
                            </h3>
                            <p class='unit' style='color: #3c8a55;'><span class='unit-right'>{{item.docText}}</span></p>
                            <div class='hr-line-dashed'></div>
                          </div>
                        </div>
                        <form id="form1" runat="server" class="text-center" style="margin-top: 20px">
                            <div>
                                <ul class="pagination" id="pagination"></ul>
                                <input type="hidden" id="PageCount" runat="server" />
                                <input type="hidden" id="PageSize" runat="server" value="8" />
                                <input type="hidden" id="countindex" runat="server" value="10"/>
                                <!--设置最多显示的页码数 可以手动设置 默认为7-->
                                <input type="hidden" id="visiblePages" runat="server" value="7" />
                            </div>
                        </form>

                    </div>
                </div>

                <div class="empty m-t m-l">
                    <p>很抱歉，没有找到与<span style="font-family:宋体">“</span><em class="search-con"></em><span style="font-family:宋体">”</span>相关的信息。</p>
                </div>

            </div>
        </div>
    </div>
    <div class="footer">
        <div class="text-center">© 2017-2019 <a href="http://www.zi-han.net/" target="_blank">富士通研究开发中心有限公司</a>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/vue/dist/vue.min.js"></script>
    <script src="/js/jqPaginator.min.js"></script>
    <script src="/js/search.js"></script>
</body>
</html>
